---
import Layout from '../layouts/Layout.astro';
import RecipeGenerator from '../components/RecipeGenerator.astro';
---

<Layout title="AI智能菜谱推荐">
  <main class="min-h-screen bg-gradient-to-br from-white to-apple-light-gray dark:from-black dark:to-gray-900">
    <RecipeGenerator />
  </main>
</Layout>

<style>
  main {
    background-image: url('/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
